@import url('https://fonts.googleapis.com/css?family=Dosis|Muli|Open+Sans+Condensed:300|Shadows+Into+Light');

/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Muli', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */

a {
  text-decoration: none;
  color: #000000;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  /* background: pink; */
  margin: 0 auto;
  /* border: 2px solid black; */
}
main {
  width: 100%;
  max-width: 1023px;
  box-sizing: border-box;
  margin: 0 auto;
  /* border: 1px solid red; */
  /* background: linear-gradient(to bottom, rgba(200, 200, 200, .7), rgba(200, 200, 200, .0)); */
}
header {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  width: 100%;
  max-width: 1023px;
  text-align: center;
  margin: 30px auto 0 auto;
  border-bottom: 2px solid rgba(220, 50, 50, 1);
  height: 100vh;
  min-height: 280px;
  /* max-height: 600px; */
  padding: 40vh 2%;
  box-sizing: border-box;
  /* transform: translate(-50%, 0); */
  /* background: rgba(220, 50, 50, 1); */
  background-image: url("./imgs/spiration dark.png");
}
nav {
  font-family: 'Muli', sans-serif;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 100%;
  height: 30px;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0px 1px 0 0;
  box-sizing: border-box;
}
section {
  /* width: 100%; */
  font-family: 'Dosis', sans-serif;
  padding: 5px 2%;
  /* margin: 0 auto; */
  /* border: 1px solid purple; */
  /* height: 100vh; */
  min-height: 750px;
  /* height: 500px; */
}
footer {
  color: #FFFFFF;
  background: black;
  padding: 5px 2%;
}
.imgCircle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: blue;
  /* margin: 0 auto; */
  /* position: absolute; */
  /* left: 45%; */
  /* top: 38vh; */
}
.flexSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexProjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 1px solid purple; */
}

.items {
  max-width: 800px;
}
.item {
  height: 30px;
  padding: 4px 10px;
  box-sizing: border-box;
  /* margin-left: 15px; */
}
.item:hover {
  cursor: pointer;
  background: rgba(150, 150, 150, .9);
}

.heading {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  /* margin: 0 auto 50px auto; */
  margin: 30px auto 5vh auto;
}
.projects {
  /* margin-top: 80px; */
  flex-wrap: wrap;
}
.projBox {
  display: flex;
  flex-direction: column;
  margin: 0 100px 75px 100px;
}
.projName {
  width: 250px;
  height: 30px;
  background: rgba(50, 50, 50, .9);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 4px;
  font-family: 'Muli', sans-serif;
  color: #FFFFFF;
}
.projInfo {
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  border: 1px solid purple;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  padding: 5px;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(200, 200, 200 , .1)));
}
.projCard {
  width: 250px;
  height: 250px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  /* margin: 5px 0; */
  background: rgba(150, 150, 150, .5);
  box-sizing: border-box;
  /* border-top: 1px solid #111111; */
  /* border-bottom: 1px solid #111111; */
  /* border-radius: 20px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* -webkit-box-reflect: below 0px; */
  /* -webkit-box-reflect: below 2px linear-gradient(transparent, rgba(200, 200, 200 , .1)); */

  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(200, 200, 200 , .1)));

}
.about {
  background: linear-gradient(to bottom, rgba(200, 200, 200, .7), rgba(200, 200, 200, .0));
}
.skills {

}
.skill {
  font-size: 15px;
  text-align: center;
  background: rgba(50, 220, 50, .4);
  width: 100px;
}
.skillPack {
  margin-top: 10px;
}
.skillBar {
  margin: 2px 0 0 0px;
  height: 15px;
  width: 250px;
  background: rgba(150, 150, 150 ,.5);
}
.barFill {
  background: rgba(50, 220, 50, .7);
  height: 15px;
  width: 50%;
}
.brandStatement {
  line-height: 30px;
  margin-top: 40px;
  max-width: 350px;
  /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}
.closeheaderBtn {
  display: none;
}
.burger {
  display: none;
  /* height: 30px;
  padding: 4px 10px;
  box-sizing: border-box; */
}
/* .burger:hover {
  cursor: pointer;
  background: rgba(150, 150, 150, .9);
} */
/* .mobileItem { */
  /* display: none; */
  /* height: 30px;
  padding: 4px 10px;
  box-sizing: border-box; */
/* } */
/* .mobileItem:hover {
  cursor: pointer;
  background: rgba(150, 150, 150, .9);
} */
.mobileLinks {
  display: none;
  position: fixed;
  top: 30px;
  width: 100%;
  margin-top: 0px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 150px;
}
.btn {
  text-align: center;
  background: radial-gradient(rgba(250, 100, 100, .5), rgba(250, 100, 100, .0));
  /* background: rgba(250, 100, 100, .5); */
  width: 100px;
  margin: 0 2px 0 2px;
  border-radius: 10px;
}

/* id's ------------------------------------ */

#html {
  width: 90%;
}
#css {
  width: 85%;
}
#javaScript {
  width: 80%;
}
#jQuery {
  width: 80%;
}
#node {
  width: 65%;
}
#angular {
  width: 75%;
}
#ruby {
  width: 70%;
}
#postgreSQL {
  width: 60%;
}
#mongoDB {
  width: 55%;
}

/* ------------------ */

#tic_tac_toes {
  background-image: url("./imgs/project_photos/tic_tac_toes.png");
}
#quip_pro_quo {
  background-image: url("./imgs/project_photos/quip_pro_quo.png");
}
#appitite {
  background-image: url("./imgs/project_photos/appitite.png");
}
#xcursion {
  background-image: url("./imgs/project_photos/xcursion.png");
}

/* Form --------------- */
form {
    margin:0 auto;
    width:459px;
}
label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
}
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
  outline:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
}
textarea {
	height:213px;
	/* background:url(images/textarea-bg.jpg) right no-repeat #efefef; */
}
input:focus, textarea:focus {
  border:1px solid #97d6eb;
}
#submit {
    width:127px;
    height:38px;
    /* background:url(images/submit.jpg); */
    /* text-indent:-9999px; */
    border:none;
    margin-top:20px;
    cursor:pointer;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
}

/* ------------- Media Queries ------------- */
@media (min-width: 751px) {
  .burger {
    display: none;
  }
}
@media (max-width: 750px) {
  .about {
    text-align: center;
    /* border: 5px solid black; */
  }
  .aboutMediaQry {
    /* border: 1px solid black; */
    /* display: block; */
    display: inline-block;
  }
  .skills {
    /* border: 1px solid black; */
    margin-top: 90px;
  }
  .flexProjects {
    display: inline-block;
  }
  .projBox {
    margin: 0 0 50px 0;
  }
  .projects {
    margin: 0 auto;
    text-align: center;
  }
  .items {
    display: none;
  }
  .burger {
    display: inline-block;
  }

  form {
      width:259px;
  }
  input, textarea {
  	width:239px;
  }
  textarea {
  	height:213px;
  }
}

@media (max-height: 700px) {
  input {

  	height:17px;
  }
  textarea {
  	height:113px;
  	/* background:url(images/textarea-bg.jpg) right no-repeat #efefef; */
  }
}
