@import url('https://fonts.googleapis.com/css?family=Dosis|Muli|Open+Sans+Condensed:300|Shadows+Into+Light');

/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Shadows Into Light', cursive; */
/* font-family: 'Muli', sans-serif; */
/* font-family: 'Open Sans Condensed', sans-serif; */

a {
  text-decoration: none;
  color: #000000;
}
h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  margin: 0 auto;
}
main {
  width: 100%;
  max-width: 1023px;
  box-sizing: border-box;
  margin: 0 auto;
}
header {
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
  color: #FFFFFF;
  width: 100%;
  max-width: 1023px;
  text-align: center;
  margin: 30px auto 0 auto;
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  height: 100vh;
  min-height: 280px;
  padding: 40vh 2%;
  box-sizing: border-box;
  background-image: url("../imgs/spiration dark.png");
}
nav {
  font-family: 'Muli', sans-serif;
  transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  width: 100%;
  height: 30px;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0px 1px 0 0;
  box-sizing: border-box;
}
section {
  font-family: 'Dosis', sans-serif;
  padding: 5px 2%;
}
footer {
  color: #FFFFFF;
  background: black;
  padding: 5px 2%;
}
.socialLinks {
  margin-top: 20px;
}
.socialLinks > a {
  font-size: 20px;
  color: #FFFFFF;
}
.imgIcon {
  width: 25px;
  border-radius: 100%;
}
.imgCircle {
  width: 250px;
  height: 250px;
  margin-top: 30px;
  border-radius: 100%;
  border: 5px solid #000000;
  box-sizing: border-box;
  background-image: url("../imgs/profpic.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(250, 250, 250 , .1)));
}
.flexSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flexProjects {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.items {
  max-width: 800px;
}
.item {
  height: 30px;
  padding: 4px 10px;
  box-sizing: border-box;
}
.item:hover {
  cursor: pointer;
  background: rgba(150, 150, 150, .9);
}

.heading {
  font-size: 40px;
  text-align: center;
  /* text-decoration: underline; */
  margin: 30px auto 5vh auto;
}
.projects {
  flex-wrap: wrap;
}
.projBox {
  display: flex;
  flex-direction: column;
  margin: 0 100px 75px 100px;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(rgba(200, 200, 200 , .1)));
}
.projName {
  width: 250px;
  height: 30px;
  background: rgba(50, 50, 50, .9);
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  padding: 4px;
  font-family: 'Muli', sans-serif;
  color: #FFFFFF;
}
.projInfo {
  text-align: left;
  display: none;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 5;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  padding: 5px;
}
.projCard {
  width: 250px;
  height: 250px;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
  background: rgba(150, 150, 150, .5);
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.projHover {
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 10;
}
.infoHeading {
  font-size: 20px;
  margin: 0 5px 2px 0;
}
.infoLanguages {
  font-size: 15px;
  margin-bottom: 12px;
}
.infoContent {
  font-size: 15px;
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  height: 20px;
  width: 250px;
  background: rgba(50, 50, 50, .9);
  box-sizing: border-box;
}
.btn {
  color: #FFFFFF;
  text-align: center;
  width: 100px;
  margin: 0 2px 0 2px;
  border-radius: 10px;
  cursor: pointer;
}
.btn > a {
  color: #FFFFFF;
}
.skills {
  margin-top: 30px;
  -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent), to(rgba(250, 250, 250 , .1)));
}
.skill {
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  background: rgba(50, 220, 50, .4);
  width: 80px;
  padding: 2px;
  box-sizing: border-box;
}
.skillPack {
  margin-top: 10px;
}
.skillBar {
  margin: 2px 0 0 0px;
  height: 15px;
  width: 250px;
  background: rgba(150, 150, 150 ,.5);
}
.barFill {
  background: rgba(50, 220, 50, .7);
  height: 15px;
  width: 50%;
}
.brandStatement {
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  margin: 50px auto;
}
.closeheaderBtn {
  display: none;
}
.burger {
  display: none;
}
.mobileLinks {
  display: none;
  position: fixed;
  top: 30px;
  width: 100%;
  margin-top: 0px;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
}
.contact {
  margin-bottom: 30px;
}

/* id's ------------------------------------ */

#html {
  width: 90%;
}
#css {
  width: 85%;
}
#javaScript {
  width: 80%;
}
#jQuery {
  width: 80%;
}
#node {
  width: 65%;
}
#angular {
  width: 75%;
}
#ruby {
  width: 70%;
}
#postgreSQL {
  width: 60%;
}
#mongoDB {
  width: 55%;
}

/* ------------------ */

#tic_tac_toes {
  background-image: url("../imgs/project_photos/tic_tac_toes.png");
}
#quip_pro_quo {
  background-image: url("../imgs/project_photos/quip_pro_quo.png");
}
#appitite {
  background-image: url("../imgs/project_photos/appitite.png");
}
#xcursion {
  background-image: url("../imgs/project_photos/xcursion.png");
}

/* Form --------------- */
form {
    margin:0 auto;
    width:459px;
}
label {
  display:block;
  margin-top:20px;
  letter-spacing:2px;
}
input, textarea {
	width:439px;
	height:27px;
	background:#efefef;
	border:1px solid #dedede;
  outline:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
  -moz-border-radius:1px;
  -webkit-border-radius:1px;
  border-radius:1px;
}
textarea {
	height:213px;
}
input:focus, textarea:focus {
  border:1px solid #97d6eb;
}
#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
}

/* ------------- Media Queries ------------- */
@media (max-width: 750px) {
  .imgCircle {
    margin: 60px auto 0 auto;
  }
  .brandStatement {
    font-size: 20px;
    line-height: 40px;
  }
  .about {
    text-align: center;
  }
  .aboutMediaQry {
    display: inline-block;
  }
  .skills {
    margin-top: 90px;
  }
  .flexProjects {
    display: inline-block;
  }
  .projBox {
    margin: 0 0 50px 0;
  }
  .projects {
    margin: 0 auto;
    text-align: center;
  }
  .items {
    display: none;
  }
  .burger {
    display: inline-block;
  }

  section {
    min-height: 0px;
  }

  form {
      width:259px;
  }
  input, textarea {
  	width:239px;
  }
  textarea {
  	height:213px;
  }
}

@media (max-height: 700px) {
  input {

  	height:17px;
  }
  textarea {
  	height:113px;
  }
}
